header {
  background-image: url("https://wallpaperscraft.com/image/keyboard_laptop_macro_73432_602x339.jpg");
  padding-top: 10rem !important;
  padding-bottom: calc(10rem - 56px);
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh !important;
  color: #fff;
  font-weight: 700;
}
hr {
  max-width: 50px;
  border-width: 3px;
  border-color: #dd7268;
}
i{
  color: black;
}
a{
  color: black;
}

