body {
    font-family: 'Lato', sans-serif;
}
.card-header, .card-footer {
    background-color: #DF9948;
    color: #ffffff;
}
.card-body {
    background-color: rgba(148, 139, 140, 0.829);
    color: #ffffff;
}